@tailwind base;
@tailwind components;
@tailwind utilities;

.linear-black-bg::before,
.linear-black-bg::after {
  background: linear-gradient(91deg, #07074d 2%, rgba(7, 7, 76, 0) 99.51%);
  content: "";
  height: 100%;
  position: absolute;
  width: 150px;
  z-index: 2;
}

.linear-black-bg::before {
  left: -3px;
  top: 0;
}
.linear-black-bg::after {
  right: -3px;
  top: 0;
  transform: rotateZ(180deg);
}
