@tailwind base;
@tailwind components;
@tailwind utilities;

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  background-color: transparent !important ;
  filter: none;
}

.linear-light-blue-bg::before,
.linear-light-blue-bg::after {
  background: linear-gradient(90deg, #07074d 25%, rgba(7, 7, 76, 0) 99.51%);
  content: "";
  height: 100%;
  position: absolute;
  width: 100px;
  z-index: 2;
}

.linear-light-blue-bg::before {
  left: -3px;
  top: 0;
}
.linear-light-blue-bg::after {
  right: -3px;
  top: 0;
  transform: rotateZ(180deg);
}
.linear-dark-blue-bg::before,
.linear-dark-blue-bg::after {
  background: linear-gradient(90deg, #040443 25%, rgba(7, 7, 76, 0) 99.51%);
  content: "";
  height: 100%;
  position: absolute;
  width: 70px;
  z-index: 2;
}

.linear-dark-blue-bg::before {
  left: -3px;
  top: 0;
}
.linear-dark-blue-bg::after {
  right: -3px;
  top: 0;
  transform: rotateZ(180deg);
}

.auth-border-image-source {
  border: 1px solid;
  border-image-source: linear-gradient(
    114.85deg,
    rgba(207, 207, 252, 0.3) 0%,
    rgba(207, 207, 252, 0) 65.83%
  );
}
