@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(355deg, #030340 0%, #0F0F66 100%);
}

.nav {
  background: rgba(3, 3, 64, 0.15);
  backdrop-filter: blur(15px);
  z-index: 50;
}

.app-store-container {
  background: rgba(14, 14, 18, 0.50);
  border-radius: 8px;
  border: 1px #353542 solid;
}