.overlay-bg {
  background: linear-gradient(
      0deg,
      rgba(11, 11, 49, 0.7) -19.12%,
      rgba(11, 11, 50, 0) 83.82%
    ),
    linear-gradient(
      114.85deg,
      rgba(207, 207, 252, 0.15) 0%,
      rgba(207, 207, 252, 0) 65.83%
    );
}

.text-card {
  border-radius: 1rem;
  border: 1px solid;

  border-image-source: linear-gradient(
    114.85deg,
    rgba(207, 207, 252, 0.3) 0%,
    rgba(207, 207, 252, 0) 65.83%
  );

  background: rgba(78, 78, 97, 0.3);
  backdrop-filter: blur(5px);
}
